.contact-and-map .section-title{
	font-weight: 400;
	text-align: left;
	margin-bottom: 40px;
}

.message{
	height: 200px;
}
.form .input-group{
	margin-bottom: 15px;
}
.contacts{
	background: #fff;
	text-align: center;
}
.contact{
	
	background:#f9f9f9; 
	transition: all .4s ease-in-out;
}
.contact:hover{
	background: #60C9EB;
}
.contact:hover .contact-icon, .contact:hover .contact-name, .contact:hover .contact-detail{
	color: #fff;
}
.contact-icon{
	color: #60C9EB;
	font-size: 40px;
}
.contact-name{
	color: #313131;
	font-size: 15px;
	margin: 40px auto;
}
.contact-detail{
	color: #969595;
	line-height: 180%;
	font-size: 13px;
}

.column-wrapper{
    padding-bottom: 30px;
}
.dark-blue{
	background: #337ab7 !important;
}
.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}